<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset-password</title>
</head>
<body>
    <div class="container">
        <div class="main-form">
            <form>
                <div class="form-control">
                    <label for="userid">User id or Email</label>
                    <input type="text" id="userid" name="userid" placeholder="enter user id or email id">
                </div>
                <div class="form-control">
                    <label for="" 
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>